$bg-dark: #0d1218;
$bg-light: #111921;
$text-color: #fafafa;
$primary-color: #197fe6;
$primary-color-dark: #0e457d;
$secondary-color: #617283;
$main-font: 'Noto Sans', sans-serif;
$sg-font: 'Space Grotesk', sans-serif;